soar.assessment.Y3853992/WebContent/wsdl/Customers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Y3853992.assessment.soar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Y3853992.assessment.soar" xmlns:intf="http://Y3853992.assessment.soar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Y3853992.assessment.soar" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getMenu">
    <complexType>
     <sequence>
      <element name="restaurantID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMenuResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getMenuReturn" type="impl:Item"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Item">
    <sequence>
     <element name="itemID" type="xsd:int"/>
     <element name="price" type="xsd:float"/>
     <element name="quantity" type="xsd:int"/>
     <element name="restaurantID" type="xsd:int"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="NoResultsException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:NoResultsException"/>
   <element name="getOrders">
    <complexType>
     <sequence>
      <element name="customerID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrdersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getOrdersReturn" type="impl:Order"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOfItem">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Item"/>
    </sequence>
   </complexType>
   <complexType name="Order">
    <sequence>
     <element name="cardNumber" nillable="true" type="xsd:string"/>
     <element name="customerID" type="xsd:int"/>
     <element name="deliveryAddress" nillable="true" type="xsd:string"/>
     <element name="deliveryTime" type="xsd:int"/>
     <element name="items" nillable="true" type="impl:ArrayOfItem"/>
     <element name="orderID" type="xsd:int"/>
     <element name="restaurantID" type="xsd:int"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="totalPrice" type="xsd:float"/>
    </sequence>
   </complexType>
   <element name="getCustomerID">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerIDResponse">
    <complexType>
     <sequence>
      <element name="getCustomerIDReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="NoValidEntryException">
    <sequence/>
   </complexType>
   <element name="fault1" type="impl:NoValidEntryException"/>
   <element name="searchForRestaurants">
    <complexType>
     <sequence>
      <element name="searchTerm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchForRestaurantsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchForRestaurantsReturn" type="impl:Restaurant"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Restaurant">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="restaurantID" type="xsd:int"/>
     <element name="restaurantName" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="placeOrder">
    <complexType>
     <sequence>
      <element name="order" type="impl:Order"/>
     </sequence>
    </complexType>
   </element>
   <element name="placeOrderResponse">
    <complexType/>
   </element>
   <complexType name="NullFieldException">
    <sequence/>
   </complexType>
   <element name="fault2" type="impl:NullFieldException"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getOrdersRequest">

      <wsdl:part element="impl:getOrders" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="placeOrderRequest">

      <wsdl:part element="impl:placeOrder" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getMenuRequest">

      <wsdl:part element="impl:getMenu" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCustomerIDResponse">

      <wsdl:part element="impl:getCustomerIDResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCustomerIDRequest">

      <wsdl:part element="impl:getCustomerID" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchForRestaurantsRequest">

      <wsdl:part element="impl:searchForRestaurants" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="NoValidEntryException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getMenuResponse">

      <wsdl:part element="impl:getMenuResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrdersResponse">

      <wsdl:part element="impl:getOrdersResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="NoResultsException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="NullFieldException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="searchForRestaurantsResponse">

      <wsdl:part element="impl:searchForRestaurantsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="placeOrderResponse">

      <wsdl:part element="impl:placeOrderResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Customers">

      <wsdl:operation name="getMenu">

         <wsdl:input message="impl:getMenuRequest" name="getMenuRequest"/>

         <wsdl:output message="impl:getMenuResponse" name="getMenuResponse"/>

         <wsdl:fault message="impl:NoResultsException" name="NoResultsException"/>

      </wsdl:operation>

      <wsdl:operation name="getOrders">

         <wsdl:input message="impl:getOrdersRequest" name="getOrdersRequest"/>

         <wsdl:output message="impl:getOrdersResponse" name="getOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCustomerID">

         <wsdl:input message="impl:getCustomerIDRequest" name="getCustomerIDRequest"/>

         <wsdl:output message="impl:getCustomerIDResponse" name="getCustomerIDResponse"/>

         <wsdl:fault message="impl:NoValidEntryException" name="NoValidEntryException"/>

      </wsdl:operation>

      <wsdl:operation name="searchForRestaurants">

         <wsdl:input message="impl:searchForRestaurantsRequest" name="searchForRestaurantsRequest"/>

         <wsdl:output message="impl:searchForRestaurantsResponse" name="searchForRestaurantsResponse"/>

         <wsdl:fault message="impl:NoResultsException" name="NoResultsException"/>

      </wsdl:operation>

      <wsdl:operation name="placeOrder">

         <wsdl:input message="impl:placeOrderRequest" name="placeOrderRequest"/>

         <wsdl:output message="impl:placeOrderResponse" name="placeOrderResponse"/>

         <wsdl:fault message="impl:NullFieldException" name="NullFieldException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomersSoapBinding" type="impl:Customers">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMenu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMenuRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMenuResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NoResultsException">

            <wsdlsoap:fault name="NoResultsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrdersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrdersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NoValidEntryException">

            <wsdlsoap:fault name="NoValidEntryException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchForRestaurants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchForRestaurantsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchForRestaurantsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NoResultsException">

            <wsdlsoap:fault name="NoResultsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="placeOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="placeOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="placeOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NullFieldException">

            <wsdlsoap:fault name="NullFieldException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomersService">

      <wsdl:port binding="impl:CustomersSoapBinding" name="Customers">

         <wsdlsoap:address location="http://localhost:8080/soar.assessment.Y3853992/services/Customers"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
