soar.assessment.Y3853992/WebContent/wsdl/Customers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Y3853992.assessment.soar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Y3853992.assessment.soar" xmlns:intf="http://Y3853992.assessment.soar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Y3853992.assessment.soar" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getUsername">
    <complexType>
     <sequence>
      <element name="customerID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsernameResponse">
    <complexType>
     <sequence>
      <element name="getUsernameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUsernameRequest">

      <wsdl:part element="impl:getUsername" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsernameResponse">

      <wsdl:part element="impl:getUsernameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Customers">

      <wsdl:operation name="getUsername">

         <wsdl:input message="impl:getUsernameRequest" name="getUsernameRequest"/>

         <wsdl:output message="impl:getUsernameResponse" name="getUsernameResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomersSoapBinding" type="impl:Customers">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUsername">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsernameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsernameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomersService">

      <wsdl:port binding="impl:CustomersSoapBinding" name="Customers">

         <wsdlsoap:address location="http://localhost:8080/soar.assessment.Y3853992/services/Customers"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
