soar.assessment.Y3853992/WebContent/wsdl/Registration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Y3853992.assessment.soar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Y3853992.assessment.soar" xmlns:intf="http://Y3853992.assessment.soar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Y3853992.assessment.soar" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="registerCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="impl:Customer"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Customer">
    <sequence>
     <element name="customerID" type="xsd:int"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="fullname" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="registerCustomerResponse">
    <complexType>
     <sequence>
      <element name="registerCustomerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="NullFieldException">
    <sequence>
     <element name="fieldName" nillable="true" type="xsd:string"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault" type="impl:NullFieldException"/>
   <complexType name="InvalidUsernameException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault1" type="impl:InvalidUsernameException"/>
   <element name="registerRestaurant">
    <complexType>
     <sequence>
      <element name="restaurant" type="impl:Restaurant"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Restaurant">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="restaurantID" type="xsd:int"/>
     <element name="restaurantName" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="registerRestaurantResponse">
    <complexType>
     <sequence>
      <element name="registerRestaurantReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="registerCustomerRequest">

      <wsdl:part element="impl:registerCustomer" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="registerCustomerResponse">

      <wsdl:part element="impl:registerCustomerResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="InvalidUsernameException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="NullFieldException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="registerRestaurantResponse">

      <wsdl:part element="impl:registerRestaurantResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="registerRestaurantRequest">

      <wsdl:part element="impl:registerRestaurant" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Registration">

      <wsdl:operation name="registerCustomer">

         <wsdl:input message="impl:registerCustomerRequest" name="registerCustomerRequest"/>

         <wsdl:output message="impl:registerCustomerResponse" name="registerCustomerResponse"/>

         <wsdl:fault message="impl:NullFieldException" name="NullFieldException"/>

         <wsdl:fault message="impl:InvalidUsernameException" name="InvalidUsernameException"/>

      </wsdl:operation>

      <wsdl:operation name="registerRestaurant">

         <wsdl:input message="impl:registerRestaurantRequest" name="registerRestaurantRequest"/>

         <wsdl:output message="impl:registerRestaurantResponse" name="registerRestaurantResponse"/>

         <wsdl:fault message="impl:NullFieldException" name="NullFieldException"/>

         <wsdl:fault message="impl:InvalidUsernameException" name="InvalidUsernameException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegistrationSoapBinding" type="impl:Registration">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="registerCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NullFieldException">

            <wsdlsoap:fault name="NullFieldException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidUsernameException">

            <wsdlsoap:fault name="InvalidUsernameException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="registerRestaurant">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerRestaurantRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerRestaurantResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NullFieldException">

            <wsdlsoap:fault name="NullFieldException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidUsernameException">

            <wsdlsoap:fault name="InvalidUsernameException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegistrationService">

      <wsdl:port binding="impl:RegistrationSoapBinding" name="Registration">

         <wsdlsoap:address location="http://localhost:8080/soar.assessment.Y3853992/services/Registration"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
