soar.assessment.Y3853992/WebContent/wsdl/Restaurants.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Y3853992.assessment.soar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Y3853992.assessment.soar" xmlns:intf="http://Y3853992.assessment.soar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Y3853992.assessment.soar" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getRestaurantID">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRestaurantIDResponse">
    <complexType>
     <sequence>
      <element name="getRestaurantIDReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="NoValidEntryException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:NoValidEntryException"/>
   <element name="addMenuItem">
    <complexType>
     <sequence>
      <element name="restaurantID" type="xsd:int"/>
      <element name="title" type="xsd:string"/>
      <element name="price" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="addMenuItemResponse">
    <complexType/>
   </element>
   <element name="deleteMenu">
    <complexType>
     <sequence>
      <element name="restaurantID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteMenuResponse">
    <complexType/>
   </element>
   <element name="getOrders">
    <complexType>
     <sequence>
      <element name="restaurantID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrdersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getOrdersReturn" type="impl:Order"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Item">
    <sequence>
     <element name="itemID" type="xsd:int"/>
     <element name="price" type="xsd:float"/>
     <element name="quantity" type="xsd:int"/>
     <element name="restaurantID" type="xsd:int"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfItem">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Item"/>
    </sequence>
   </complexType>
   <complexType name="Order">
    <sequence>
     <element name="deliveryTime" type="xsd:int"/>
     <element name="items" nillable="true" type="impl:ArrayOfItem"/>
     <element name="orderID" type="xsd:int"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="totalPrice" type="xsd:float"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteMenuResponse">

      <wsdl:part element="impl:deleteMenuResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrdersRequest">

      <wsdl:part element="impl:getOrders" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRestaurantIDRequest">

      <wsdl:part element="impl:getRestaurantID" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addMenuItemRequest">

      <wsdl:part element="impl:addMenuItem" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrdersResponse">

      <wsdl:part element="impl:getOrdersResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRestaurantIDResponse">

      <wsdl:part element="impl:getRestaurantIDResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="deleteMenuRequest">

      <wsdl:part element="impl:deleteMenu" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="NoValidEntryException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="addMenuItemResponse">

      <wsdl:part element="impl:addMenuItemResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Restaurants">

      <wsdl:operation name="getRestaurantID">

         <wsdl:input message="impl:getRestaurantIDRequest" name="getRestaurantIDRequest"/>

         <wsdl:output message="impl:getRestaurantIDResponse" name="getRestaurantIDResponse"/>

         <wsdl:fault message="impl:NoValidEntryException" name="NoValidEntryException"/>

      </wsdl:operation>

      <wsdl:operation name="addMenuItem">

         <wsdl:input message="impl:addMenuItemRequest" name="addMenuItemRequest"/>

         <wsdl:output message="impl:addMenuItemResponse" name="addMenuItemResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteMenu">

         <wsdl:input message="impl:deleteMenuRequest" name="deleteMenuRequest"/>

         <wsdl:output message="impl:deleteMenuResponse" name="deleteMenuResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOrders">

         <wsdl:input message="impl:getOrdersRequest" name="getOrdersRequest"/>

         <wsdl:output message="impl:getOrdersResponse" name="getOrdersResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RestaurantsSoapBinding" type="impl:Restaurants">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRestaurantID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRestaurantIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRestaurantIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NoValidEntryException">

            <wsdlsoap:fault name="NoValidEntryException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addMenuItem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addMenuItemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addMenuItemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteMenu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteMenuRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteMenuResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrdersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrdersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RestaurantsService">

      <wsdl:port binding="impl:RestaurantsSoapBinding" name="Restaurants">

         <wsdlsoap:address location="http://localhost:8080/soar.assessment.Y3853992/services/Restaurants"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
