soar.assessment.Y3853992/WebContent/wsdl/Restaurants.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Y3853992.assessment.soar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Y3853992.assessment.soar" xmlns:intf="http://Y3853992.assessment.soar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Y3853992.assessment.soar" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getRestaurantID">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRestaurantIDResponse">
    <complexType>
     <sequence>
      <element name="getRestaurantIDReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="NoValidEntryException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:NoValidEntryException"/>
   <element name="getOrders">
    <complexType>
     <sequence>
      <element name="restaurantID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrdersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getOrdersReturn" type="impl:Order"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Item">
    <sequence>
     <element name="itemID" type="xsd:int"/>
     <element name="price" type="xsd:float"/>
     <element name="quantity" type="xsd:int"/>
     <element name="restaurantID" type="xsd:int"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfItem">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Item"/>
    </sequence>
   </complexType>
   <complexType name="Order">
    <sequence>
     <element name="cardNumber" nillable="true" type="xsd:string"/>
     <element name="customerID" type="xsd:int"/>
     <element name="deliveryAddress" nillable="true" type="xsd:string"/>
     <element name="deliveryTime" type="xsd:int"/>
     <element name="items" nillable="true" type="impl:ArrayOfItem"/>
     <element name="orderID" type="xsd:int"/>
     <element name="restaurantID" type="xsd:int"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="totalPrice" type="xsd:float"/>
    </sequence>
   </complexType>
   <complexType name="InvalidIDException">
    <sequence/>
   </complexType>
   <element name="fault1" type="impl:InvalidIDException"/>
   <element name="changeOrderStatus">
    <complexType>
     <sequence>
      <element name="restaurantID" type="xsd:int"/>
      <element name="orderID" type="xsd:int"/>
      <element name="status" type="xsd:string"/>
      <element name="deliveryTime" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeOrderStatusResponse">
    <complexType/>
   </element>
   <complexType name="NullFieldException">
    <sequence/>
   </complexType>
   <element name="fault2" type="impl:NullFieldException"/>
   <complexType name="InvalidStatusException">
    <sequence/>
   </complexType>
   <element name="fault3" type="impl:InvalidStatusException"/>
   <complexType name="UnauthorizedException">
    <sequence/>
   </complexType>
   <element name="fault4" type="impl:UnauthorizedException"/>
   <element name="updateMenu">
    <complexType>
     <sequence>
      <element name="restaurantID" type="xsd:int"/>
      <element maxOccurs="unbounded" name="items" type="impl:Item"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateMenuResponse">
    <complexType/>
   </element>
   <complexType name="InvalidItemException">
    <sequence/>
   </complexType>
   <element name="fault5" type="impl:InvalidItemException"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getOrdersRequest">

      <wsdl:part element="impl:getOrders" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateMenuResponse">

      <wsdl:part element="impl:updateMenuResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRestaurantIDRequest">

      <wsdl:part element="impl:getRestaurantID" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRestaurantIDResponse">

      <wsdl:part element="impl:getRestaurantIDResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="InvalidItemException">

      <wsdl:part element="impl:fault5" name="fault"/>

   </wsdl:message>

   <wsdl:message name="InvalidIDException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="NoValidEntryException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="UnauthorizedException">

      <wsdl:part element="impl:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="changeOrderStatusResponse">

      <wsdl:part element="impl:changeOrderStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="InvalidStatusException">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="updateMenuRequest">

      <wsdl:part element="impl:updateMenu" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrdersResponse">

      <wsdl:part element="impl:getOrdersResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changeOrderStatusRequest">

      <wsdl:part element="impl:changeOrderStatus" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="NullFieldException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:portType name="Restaurants">

      <wsdl:operation name="getRestaurantID">

         <wsdl:input message="impl:getRestaurantIDRequest" name="getRestaurantIDRequest"/>

         <wsdl:output message="impl:getRestaurantIDResponse" name="getRestaurantIDResponse"/>

         <wsdl:fault message="impl:NoValidEntryException" name="NoValidEntryException"/>

      </wsdl:operation>

      <wsdl:operation name="getOrders">

         <wsdl:input message="impl:getOrdersRequest" name="getOrdersRequest"/>

         <wsdl:output message="impl:getOrdersResponse" name="getOrdersResponse"/>

         <wsdl:fault message="impl:InvalidIDException" name="InvalidIDException"/>

      </wsdl:operation>

      <wsdl:operation name="changeOrderStatus">

         <wsdl:input message="impl:changeOrderStatusRequest" name="changeOrderStatusRequest"/>

         <wsdl:output message="impl:changeOrderStatusResponse" name="changeOrderStatusResponse"/>

         <wsdl:fault message="impl:InvalidStatusException" name="InvalidStatusException"/>

         <wsdl:fault message="impl:UnauthorizedException" name="UnauthorizedException"/>

         <wsdl:fault message="impl:InvalidIDException" name="InvalidIDException"/>

         <wsdl:fault message="impl:NullFieldException" name="NullFieldException"/>

      </wsdl:operation>

      <wsdl:operation name="updateMenu">

         <wsdl:input message="impl:updateMenuRequest" name="updateMenuRequest"/>

         <wsdl:output message="impl:updateMenuResponse" name="updateMenuResponse"/>

         <wsdl:fault message="impl:InvalidIDException" name="InvalidIDException"/>

         <wsdl:fault message="impl:InvalidItemException" name="InvalidItemException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RestaurantsSoapBinding" type="impl:Restaurants">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRestaurantID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRestaurantIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRestaurantIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NoValidEntryException">

            <wsdlsoap:fault name="NoValidEntryException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrdersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrdersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidIDException">

            <wsdlsoap:fault name="InvalidIDException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="changeOrderStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeOrderStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeOrderStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidStatusException">

            <wsdlsoap:fault name="InvalidStatusException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnauthorizedException">

            <wsdlsoap:fault name="UnauthorizedException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidIDException">

            <wsdlsoap:fault name="InvalidIDException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NullFieldException">

            <wsdlsoap:fault name="NullFieldException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateMenu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateMenuRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateMenuResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidIDException">

            <wsdlsoap:fault name="InvalidIDException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidItemException">

            <wsdlsoap:fault name="InvalidItemException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RestaurantsService">

      <wsdl:port binding="impl:RestaurantsSoapBinding" name="Restaurants">

         <wsdlsoap:address location="http://localhost:8080/soar.assessment.Y3853992/services/Restaurants"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
